html {
  overflow-y: scroll;
}

#mainNav {
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}

#navbar-toggler {
  outline: none;
  border: 0;
}

.navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
}

#navbar-active {
  color: #18bc9c !important;
}

.nav-link {
  transition: 0.4s;
}

.nav-link:hover {
  color: #d3d3d3 !important;
}

.rotate-hamburger {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  outline: 0;
}

#navbar-logo {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  outline: 0;
}

.galeria {
  padding-top: 0 !important;
}

#close-modal {
  outline: 0;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.show .dropdown-menu {
  /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
  max-height: 300px;
  opacity: 1;
}
